body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#bg{
    background-color: #888888;
    width: 33vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    left: 0;
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
section{
    display: flex;
    align-items: center;
}
main img{
    border: solid white 5px;
    border-radius: 50%;
    width: 14vw;
}
main nav{
    width: 30vw;
    display: flex;  
    gap: 5px;  
}
#info-container{
    margin-left: 3vw;
}
#info-container p{
    width: 30vw;
}
button{
    width: 10vw;
    background-color: #fff;
    padding: 2%;
    transition: 0.2s ease;
    border: 1px black solid;
    border-radius: 15px;
}
button:hover{
    background-color: #888888;
    color: white;
    cursor: pointer;
}

