body{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    background-color: rgb(0, 30, 63);
    margin: 0;
}
ol,ul{
    display: flex;
    justify-content: space-around;
}
img{
    border: 2px white solid;
}
div{
    display: flex;
    justify-content: space-around;
}


