* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #0d0d0d;
  color: #fff;
  line-height: 1.6;
}


header {
  background-color: rgba(199, 68, 133, 0.103);
  padding: 30px 50px;
  box-shadow: 0 2px 10px rgb(0, 0, 0);

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: rgb(199, 68, 133);
}

/* ====== FILME PRINCIPAL ====== */
.filme-principal {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 8%;
  gap: 50px;
  background: linear-gradient(to right, #111 60%, rgb(199, 68, 133));
  border-bottom: rgba(199, 68, 133, 0.103) 2px solid;

}

.titulo-container {
  flex: 1;
}

.titulo-filme {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: rgb(199, 68, 133);
}

.descricao-filme {
  max-width: 600px;
  font-size: 1.1rem;
  margin-bottom: 25px;
  color: #ddd;
}

.botoes {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 12px 25px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

.assistir {
  background-color: rgb(199, 68, 133);
  color: #fff;
}

.assistir:hover {
  background-color: rgb(199, 68, 133);
}

.info {
  background-color: transparent;
  border: 2px solid rgb(199, 68, 133);
  color: rgb(199, 68, 133);
}

.info:hover {
  background-color: rgb(199, 68, 133);
  color: #fff;
}

.img-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-principal {
  border-radius: 15px;
  width: 40%;
  height: 350px;
  max-width: 500px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.6);
  box-shadow: rgb(199, 68, 133) 0 0 1vh 0.1vh;
}

.filmes-container {
  padding: 50px 8%;
  background-color: #141414;
}

.filmes-container h2 {
  font-size: 2rem;
  margin-bottom: 25px;
  color: rgb(199, 68, 133);
}

.grid-filmes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 25px;
}

.grid-filmes img {
  width: 100%;
  height: 270px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.grid-filmes img:hover {
  transform: scale(1.05);
  border: solid rgb(199, 68, 133) 3px;
}

footer {
  background-color: rgba(199, 68, 133, 0.103);
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
  color: #ffffff;
  border-top: 1px solid #222;
}

@media (max-width: 900px) {
  .filme-principal {
    flex-direction: column;
    text-align: center;
  }

  .titulo-container {
    order: 2;
  }

  .img-container {
    order: 1;
  }

  .img-principal {
    max-width: 100%;
    height: auto;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease;
}