body{
    color: rgb(109, 18, 109);
    background-color: rgb(251, 218, 255);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 10vh;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
}
header nav a{
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
}
header nav a:hover{
    scale: 1.05;
}
.filme-principal{
    display: flex;
}
.titulo-container{
    left: 20vh;
    width: 600px;
    justify-content: center;
    margin-left: 10vw;
}
.img-principal{
    margin-left: 20vw;
}
.filmes-container{
    display: flex;
    justify-content: space-around;
    height: 45vh;
}
.filmes-container img{
    scale: 0.8;
}
