/* variaveis padrao, para usar, é só escrever var(nome-da-variavel) */
:root {
    --destaque: rgb(199, 68, 133);
    --transicao-padrao: all 0.2s ease;
}

body{
    background: linear-gradient(to right, #111 50%, rgb(83, 29, 56));
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#voltar {
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    transition: var(--transicao-padrao);
}

#voltar:hover {
    color: blue;
    cursor: pointer;
}
  
#bg{
    background-color: var(--destaque) ;
    width: 33vw;
    height: 100vh;
    z-index: -1;
    position: absolute;
    left: 0;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section{
    display: flex;
    align-items: center;
}

main img{
    border: solid #111 10px;
    border-radius: 50%;
    width: 14vw;
}

main nav{
    width: 30vw;
    display: flex;  
    gap: 5px;  
}

#info-container{
    margin-left: 3vw;
}

#info-container p{
    width: 30vw;
}

button{
    width: 10vw;
    background-color: transparent;
    padding: 2%;
    transition: var(--transicao-padrao);
    border: var(--destaque) 2px solid;
    color: white;
}

button:hover{
    background-color: var(--destaque);
    color: white;
    cursor: pointer;
}

